<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora Básica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <div class="container text-center">
        <h1>Calculadora Cientifica</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" onclick="">7</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">8</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">9</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" onclick="suma()">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">4</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">5</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">6</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" onclick="resta()">-</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">1</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">2</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">3</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" onclick="multiplicacion()">X</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">0</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">.</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">=</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" onclick="div()">/</button>
                </div>
            </div>
        </div>
    </div>

    <form>
        <label>Numero 1:</label>
        <input type="number" id="n1" name="n1" placeholder="Ingrese un numero"/>
        <br>
        <label>Numero 2:</label>
        <input type="number" id="n2" name="n2" placeholder="Ingrese un numero" />
        <br>
        <p id="resultado">Resultado: 0</p>
        <input type="button" value="Suma" ONCLICK="suma()">
        <input type="button" value="Resta" onclick="resta()">
        <input type="button" value="Multiplicacion" onclick="multiplicacion()">
        <input type="button" value="Division" onclick="div()">
    </form>
<script src="/js/calculadora.js"></script>
</body>
</html>